
.my-title {
  color: black;
  background-color: transparent;
}

.head-title{
  cursor: pointer;
}

.active-page{
  background-color: lightgreen;
}

.movie-list-comp{
  background-color: aquamarine;
  padding: 12px;
}

.example-container .mat-radio-button {
  margin: 0 12px;
}
