<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="/">
    <fa-icon [icon]="faFilm"></fa-icon>
  </button>
  <span routerLink="/" class="head-title">My Movie DB</span>
  <span class="example-spacer"></span>
  <span>{{loggedUser.username}}</span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="onLogin()">
    <fa-icon [icon]="login"></fa-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLinkActive="active-page" routerLink="users" [routerLinkActiveOptions]="{exact: true}">
    <fa-icon [icon]="faUser" ></fa-icon>
  </button>
</mat-toolbar>


<router-outlet></router-outlet>
