<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="/">
    <fa-icon [icon]="faFilm"></fa-icon>
  </button>
  <span routerLink="/" class="head-title">My Movie DB</span>
  <span class="example-spacer"></span>



  <span *ngIf="loggedUser">{{loggedUser.username}}</span>


  <button
          mat-icon-button
          class="example-icon favorite-icon"
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with heart icon" >
    <fa-icon *ngIf="!loggedUser" [icon]="faUser"></fa-icon>
    <fa-icon  *ngIf="loggedUser" [icon]="login" ></fa-icon>
  </button>
  <mat-menu #menu>
    <div   *ngIf="!loggedUser">
      <a mat-flat-button target="_blank"  (click)="onLogin()">Login</a>
    </div>
    <div  *ngIf="loggedUser">
      <a mat-flat-button target="_blank" (click)="onLogout()" >Logout</a>
    </div>

  </mat-menu>



</mat-toolbar>
<app-menu></app-menu>

<mat-card style="height: 100%;">
  <router-outlet></router-outlet>
</mat-card>


